<div class="container text-center">
  <h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
    <b>マイページ</b>
  </h6>

  <%= link_to "新しくメモる", new_memory_path, class:"btn btn-success w-25 h-25 mb-4 border border-warning rounded-pill text-light" %>

  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <div class="col-3">
        <%= render "user_info",user_groups: @user_groups, end_user: @end_user %>
      </div>
      <div class="col-8">
        <div class="d-flex flex-wrap">
        <% if current_end_user.name == "guestuser" %>
          会員が投稿したマイメモリーはここに一覧として表示されます。
        <% else %>
          <%= render "memories", memories: @memories %>
          <%= paginate @memories %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>