<div class="container text-center">
  退会確認

  <div>
    <h1><b>注意！！</b></h1>
    <p>退会するとこれまで投稿したメモリーを含む</p>
    <p>すべてのデータが削除されます。</p>
    <p>本当に退会しますか？</p>
  </div>
  <%= link_to "退会しない", end_user_path(@end_user), class:"btn btn-primary" %><br>
  <%= link_to "退会する", end_user_path(@end_user), class:"btn btn-danger", method: :delete %>
</div>