<div class="container text-center">
  <h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
    <b>グループ一覧</b>
  </h6>

  <%= link_to "新しくメモる", new_memory_path, class:"btn btn-success" %>

  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <div class="col-4">
        <%= render "public/end_users/user_info",user_groups: @user_groups, end_user: @end_user %>
      </div>
      <div class="col-8">
        <div class="d-flex flex-wrap">
          <%= paginate @groups %>
        </div>
        <%= render 'index', groups: @groups %>
      </div>
    </div>
  </div>
</div>