<table class="table text-break table-borderless table-striped table-active">
  <tbody>
    <tr>
      <th>タグ名</th>
      <th></th>
    </tr>
    <% memory_tags.each do |memory_tag| %>
    <tr>
      <td><%= memory_tag.name %></td>
      <td><%= link_to "削除",admin_memory_tag_path(memory_tag), class:"btn btn-danger rounded-pill border border-warning", method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>