<h6 class="page-title mb-4 mt-3 mx-auto bg-secondary border border-primary rounded text-light">
  <b>タグ一覧</b>
</h6>
<div class="row d-flex flex-wrap justify-content-center">
  <div id="admin_memory_tags_index">
    <%= render "admin/memory_tags/index", memory_tags: @memory_tags %>
  </div>
</div>