<div class="container text-center">
  <%= image_tag "no_image.jpg", size: "800x400", class:"mt-5" %>
  <div>
    <h1>ようこそ<b>Famories</b>へ！！</h1>
    <p>Famoriesは、あなたの大切な記憶（<b>メモリー</b>）を投稿し、</p>
    <p>アルバムのように見返したり、誰かと共有することができるコミュニティサイトです。</p>
    <p>投稿したメモリーは公開され、誰でも見ることができるようになります。</p>
    <p>誰かが投稿したメモリーを見ることも楽しみの一つです。</p>
    <p>メモリーを公開せずに投稿したい場合はグループを作りましょう。</p>
    <p>あなただけのグループとして個人利用することで、</p>
    <p>他の誰かに見られる心配はありません。</p>
    <p>もし、あなたの大切な家族（<b>ファミリー</b>）や仲間たちと記憶の共有をしたいのであれば、</p>
    <p>メンバーとして迎え入れましょう！</p>
  </div>
</div>