<div class="container text-center about-bg">
  <%= image_tag "asia.jpg", size: "500x250", class:"about-image post-memory mt-5" %>
  <div class="text-light m-auto">
    <h1>ようこそ<b>Famories</b>へ！！</h1>
    <h5>Famoriesは、あなたの大切な記憶（<b>メモリー</b>）を投稿し、</h5>
    <h5>アルバムのように見返したり、共有することができるコミュニティサイトです。</h5>
    <h5>あなたの家族（<b>ファミリー</b>）や仲間たちと記憶を共有しましょう！</h5>
    <h5>投稿したメモリーは公開され、誰でも見ることができるようになります。</h5>
    <h5>誰かが投稿したメモリーを見ることも楽しみの一つです。</h5>
    <h5>メモリーを公開したくない場合はグループを作りましょう。</h5>
    <h5>グループで投稿されたメモリーは公開されないので安心です。</h5>
    <h5>グループでも個人でも使ってみてください！</h5>
    <h5>投稿者と意気投合したら一緒にグループを作成してみるのもいいですね！</h5>
    <h5>それでは、ぜひFamoriesを楽しんでください！！</h5>
  </div>
</div>