<h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
  <b>メモリー新規作成</b>
</h6>
<%= form_with model:@memory do |f| %>
  <%= render 'form', f: f, memory: @memory %>
<% end %>