<h6 class="page-title mb-4 mt-3 mx-auto bg-secondary border border-primary rounded text-light">
  <b>コメント一覧</b>
</h6>
<div class="row d-flex flex-wrap justify-content-center">
  <div id="admin_memory_comments_index">
    <%= render "admin/memory_comments/index", memory_comments: @memory_comments %>
  </div>
</div>