@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/wall.2.long.jpg");
  height: 800px;
  background-size: 100%;
  background-position: top;
}


// ヘッダー
.header {
  background-color: #e8dece;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19, 132, 150,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// メイン
.about-bg {
  background-color: rgba(0, 0, 0, 0.2);
  width: 1000px;
}

.page-title {
  width: 320px;
  height: 30px;
  line-height: 30px;
}

.sort-bar a:hover {
    color: white;
}

.sort-bar a:active {
    color: deeppink;
}

.form-group {
  max-width: 100%;
  width: 100%;
}

.form-area {
  height: 150px;
}

.post-memory, .group-index, .user-index, .user-profile, .group-profile {
  margin: 0 12px;
  border: solid 6px #e8dece;
  background-color: #cccccc;
}

.group-index, .user-index {
  height: 625px;
  width: 100%;
  background-color: #393939;
}

.index-memory-box {
  width: 230px;
}

.index-btn {
  width: 90%;
  background-color: #e8dece;
}

.index-btn-dummy {
  max-width: 100%;
  min-height: 39.2px;
  background-color: #e8dece;
}

.table {
  table-layout:fixed;
 }

.post-memory {
  max-width: 100%;
  max-height: 100%;
 }

.memory-tags-bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.memory-tags-index {
  background-color: #e8dece;
}
// フッター
footer {
  background-image: url("../images/wall.2.jpg");
  height: 100%;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}