@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/wall.2.long.jpg");
  height: 800px;
  background-size: 100%;
  background-position: top;
}


// ヘッダー
.header {
  background-color: #e8dece;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19, 132, 150,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// メイン

.page-title {
  width: 320px;
  height: 30px;
  line-height: 30px;
}

.post-memory, .group-index, .user-index, .user-profile, .group-profile {
  margin: 0 12px;
  border: solid 6px #e8dece;
  background-color: #cccccc;
}

.table {
  table-layout:fixed;
 }

// フッター
footer {
  background-image: url("../images/wall.2.jpg");
  height: 100%;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}