<% group_users.each do |group_user| %>
  <%= image_tag group_user.get_profile_image, size: "50x50", class:"mt-4"  %>
  <p class="index-btn-dummy d-flex align-items-center justify-content-center text-break my-2 border mx-3 border-warning rounded-pill text-dark text-decoration-none">
  <%= link_to group_group_user_path(group, group_user), method: :delete, data: {confirm: "本当に『#{group_user.name}さん』を退出させますか？" }, class:"text-danger text-decoration-none" do %>
    <i class="fas fa-minus-circle"></i>
  <% end %>
    <%= group_user.name %>
  </p>
<% end %>