<% if memory.memory_favorited_by?(current_end_user) %>
  <%= link_to memory_memory_favorites_path(memory), class:"text-danger", method: :delete, remote: true do %>
  <h1><i class="fas fa-heart"></i></h1>
  <% end %>
<% else %>
  <%= link_to memory_memory_favorites_path(memory),  class:"text-danger", method: :post, remote: true do %>
  <h1><i class="far fa-heart"></i></h1>
  <% end %>
<% end %>